[checklog-odoo]
ignore=
    WARNING.* 0 failed, 0 error\(s\).*
    WARNING.* Missing widget: res_partner_many2one for field of type many2one.*
    # from anyio>=4.15 see https://github.com/Kludex/starlette/issues/3497
    WARNING.* DeprecationWarning: The anyio.abc.BlockingPortal alias is deprecated.*
