responses
odoo-addon-auth_saml @ git+https://github.com/OCA/server-auth.git@refs/pull/916/head#subdirectory=auth_saml
odoo-addon-auth_user_role @ git+https://github.com/OCA/server-auth.git@refs/pull/1011/head#subdirectory=auth_user_role
